sudo: required

language: java
jdk:
  - oraclejdk8
  
services:
  - docker
  
  
before_install:
  - chmod +x gradlew

install:
  - ./gradlew shadowJar
  - docker build -t teameinhorn/sandbox:build$TRAVIS_BUILD_NUMBER .

before_script:
  - docker run -p 8080:8080 -d sandbox
  
script:
  - ./gradlew check
  - docker ps -a | grep sandbox
  
after_success:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - docker tag teameinhorn/sandbox:build$TRAVIS_BUILD_NUMBER teameinhorn/sandbox:latest
  - docker images
  - docker push teameinhorn/sandbox
after_script:

