sudo: required

language: java
jdk:
  - oraclejdk8
  
services:
  - docker
  
  
before_install:
  - chmod +x gradlew

install:
  - ./gradlew shadowJar
  - docker build -t teameinhorn/sandbox:build$TRAVIS_BUILD_NUMBER .
  - docker tag teameinhorn/sandbox:build$TRAVIS_BUILD_NUMBER teameinhorn/sandbox:latest
  - docker images

before_script:
  - docker run -p 8080:8080 -d --name sandbox_instance teameinhorn/sandbox
  
script:
  - ./gradlew check
  - docker ps | grep sandbox
  - docker top sandbox_instance | grep java
  - wget -qO- http://localhost:8080/status | grep \"outcome\":\"UP\"
  
after_success:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - docker push teameinhorn/sandbox
  
after_script:

